.text-area {
  height: 100px;
}

.input-text-area {
  padding-top: 20px;
  padding-bottom: 40px;
}
.text-area-full-width {
  width: 100%;
}

.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
