.text-area-full-width {
  margin-top: 50px;
  width: 100%;
}

.text-area {
  max-height: 500px;
  height: auto;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-expansion-panel {
  margin-bottom: 20px;
}
