<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>help</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>指定文字列を生成します。</p>
    <p>境界値分析など様々なテストにお使いください</p>
  </mat-expansion-panel>
</mat-accordion>

<mat-form-field style="margin-right: 20px;">
  <mat-label>生成タイプ</mat-label>
  <mat-select [(value)]="optionSelectedValue">
    <mat-option *ngFor="let option of stringOptions" [value]="option.value">
      {{ option.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>文字数</mat-label>
  <input matInput type="number" placeholder="Ex. 100" min="1" max="10000" [(ngModel)]="textLength" />
  <span matSuffix>文字</span>
</mat-form-field>

<div>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="radioSelectedValue">
    <mat-radio-button value="1">半角</mat-radio-button>
    <mat-radio-button value="2">全角</mat-radio-button>
  </mat-radio-group>
</div>

<mat-form-field class="text-area-full-width">
  <mat-label>result</mat-label>
  <textarea matInput class="text-area" readonly [value]="getText()"></textarea>
</mat-form-field>
