.mat-expansion-panel {
  margin-bottom: 20px;
}

.text-area-full-width {
  width: 100%;
}

textarea {
  min-height: 400px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.mat-radio-button {
  padding-bottom: 16px;
}

.container {
  display: flex;
  .text-area-full-width ~ .text-area-full-width {
    padding-left: 16px;
  }
  @media (max-width: 720px) {
    display: block;
    .text-area-full-width ~ .text-area-full-width {
      padding-left: 0px;
    }
  }
}
